/*
################################
########## Style Main ##########
################################
*/

/*########## Global ##########*/
html, body {
	font-family: Arial, sans-serif;
}


/*########## Header ##########*/
header .componentHeader {
	width: 100%;
	height: 650px;
	background-image:  url("../../images/bg_header576.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

header > div[class^="container"] .row div[class^="col-"] {
	background: linear-gradient(#FFE1E9, #FDCFDA, #FEC1D1);
}

@media (min-width: 576px) {
	header .componentHeader {
		background-image:  url("../../images/bg_header768.jpg");
	}

	header > div[class^="container"] .row div[class^="col-"] {
		background: linear-gradient(#FFE1E9, #FDCFDA, #FEC1D1);
	}
}

@media (min-width: 992px) {
	header .componentHeader {
		background-image:  url("../../images/bg_header992.jpg");
	}

	header > div[class^="container"] .row div[class^="col-"] {
		background: linear-gradient(#FEFEFE, #FFDBE5, #FDCEDC, #FED6E1, #FECFDF, #FDCFDC);
	}
}


/*########## Header and footer ##########*/
header > div[class^="container"],
footer > div[class^="container"]{
	padding-right: 0;
	padding-left: 0;
}
	header > div[class^="container"] .row{
		margin-right: 0;
		margin-left: 0;
	}
		header > div[class^="container"] .row div[class^="col-"]{
			padding-right: 0;
			padding-left: 0;
		}


		/*########## Titles, Subtitles and Texts ##########*/
		p[class^="title"] {
			font-size: 40px;
			font-weight: bold;
			line-height: 50px;
			color: #CF6F85;
			text-transform: uppercase;
			margin-bottom: 0;
		}

		p[class^="subTitle"] {
			font-size: 21px;
			line-height: 25px;
			color: #CF6F85;
			text-transform: uppercase;
		}

		p[class^="text"] {
			font-size: 23px;
			color: #777;
			text-align: left;
		}

			/*Class font-size*/
			p.textFonSiz16 {
				font-size: 16px;
			}

			/*Class margin-bottom*/
			p.textMarBt45 {
				margin-bottom: 45px
			}
			p.titleMarBt47,
			p.subTitleMarBt47 {
				margin-bottom: 47px
			}
			p.titleMarBt60,
			p.titleMarBt60 {
				margin-bottom: 60px
			}
			p.textMarBt78 {
				margin-bottom: 78px
			}
			p.titleMarBt90{
				margin-bottom: 90px;
			}

			/*Class color*/
			p.textColPik,
			a.colPik {
				color: #CF6F85;
			}
			a.colPik:hover {
				color: #f17692;
			}

			/*Class text-transform*/
			p.textTraUpe {
				text-transform: uppercase;
			}


/*########## Separator ##########*/
.rowSeparator {
	margin-top: 60px;
}
.rowSeparator hr {
	background-color: #B58593;
	height: 1px;
}

.rowSeparator img {
	position: absolute;
	top: -56px;
}
	.rowSeparator img.right {
		right: 0;
	}

	.rowSeparator img.left {
		left: 0;
	}


/*########## Gallery ##########*/
.galleryContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, 340px);
	grid-auto-flow: dense;
	grid-column-gap: 40px;
	grid-row-gap: 10px;
	justify-content: center;
	margin-bottom: 80px;
}
	.galleryContainer .imgThumbnail {
		height: 499px;
		background-color: #fff;
		margin-top: 0;
		position: relative;
	}
		.galleryContainer .imgThumbnail:hover .galleryOverlay {
			opacity: 1;
		}

		.galleryContainer .imgThumbnail img {
			width: 100%;
			height: auto;
			transition: all .2s ease-in-out;
			-webkit-transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
		}

.galleryOverlay {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 0;
	overflow: hidden;
	transition: .5s ease;
}

	.galleryOverlay > div {
		width: 100%;
		font-size: 20px;
		color: white;
		white-space: normal;
		position: absolute;
		overflow: hidden;
		top: 80%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

		.galleryOverlay > div > p {
			font-size: 14px;
			line-height: 18px;
			color: #000;
			text-align: center;
			text-transform: uppercase;
			padding: 0 10px;
		}

		.galleryOverlay > div > p.produto,
		.galleryOverlay > div > p.valor {
			margin-bottom: 5px;
		}

		.galleryOverlay > div > p.valor {
			color: #B12622;
			font-size: 20px;
			line-height: 20px;
		}

		.galleryOverlay > div > p.parcelas {
			color: #888888;
			text-transform: capitalize;
		}


/*########## Footer ##########*/
footer  div[class="componentFooter"] {
	background-image: url("../../images/bg_footer.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}


/*########## Atomic CSS ##########*/
.marTop45{margin-top:45px !important}
.marTop50{margin-top:50px !important}
.marTop73{margin-top:73px !important}
.marTop100{margin-top: 100px !important}
.marBot40{margin-bottom:40px !important}
.marBot60{margin-bottom:60px !important}
.disBlo{display:block}
